.l-green{
  background-color: #a2d39b;
}

.violet{
  background-color: #61082c;
}

.heavenly{
  background-color: #1d93ce;
}

.brown{
  background-color: brown;
}

.red{
  background-color: red;
}

.gray{
  background-color: gray;
}

.blue{
  background-color: #0d2481;
}

.yellow{
  background-color: #fed830;
}

.white{
  background-color: white;
}