/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* UTILS */
.d-flex{
  display: flex;
}



/* HEADER */

/* aggiungere l'img DROPBOX e il bottone in un "a" e modificare con un cursor pointer e la riga sotto on hover */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: white;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}


header .menu-sx{
  align-items: center;
  width: 50%;
}

header .menu-sx .image{
  height: 40%;
  margin: 0 20px;
}

header .menu-sx .image img{
  height: 100%;
}


header .menu-dx{
  justify-content: end;
  align-items: center;
  width: 50%;
}

header .menu-dx button{
  margin: 0 20px;
  padding: 7px 20px;
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
}


/* JUMBO */
.jumbotron{
  /* dare un margin top alto quanto l'altezza dell'header */
  margin-top: 70px;
  width: 100%;
  height: 700px;
  background-color: #b4d0e7;

  margin-bottom: 50px;
}

.jumbotron .container-big{
  width: 80%;
  margin: 0 auto;
}


/* MAIN */
main{
  background-color: blueviolet;
}

main .container{
  width: 70%;

  margin: 0 auto;
  background-color: rgb(0, 26, 255);
}

main section.subscription{
  height: 800px;
  background-color: rgb(25, 182, 19);
}

main section.subscription-bottom{
  height: 200px;
  background-color: rgb(1, 82, 1);
}

main section.partner{
  height: 600px;
  background-color: rgb(209, 209, 2);
}

main section.image{
  height: 1000px;
  background-color: brown;
}

main section.sponsor{
  height: 400px;
  background-color: darkgoldenrod;
}

main section.free-trial{
  height: 300px;
  background-color: #b4d0e7;
}

main section.questions{
  height: 600px;
  background-color: coral;
}

/* FOOTER */

footer{
  height: 600px;
  background-color: black;
}