/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1{
  font-size: 5rem;
  font-weight: 900;
}

h2{
  font-size: 2rem;
}



/* UTILS */
.d-flex{
  display: flex;
}

button{
  background-color: #0061ff;
  border: none;
  padding: 7px 20px;
}

button a{
  color: white;
}

a{
  text-decoration: none;
}



/* HEADER */

/* aggiungere l'img DROPBOX e il bottone in un "a" e modificare con un cursor pointer e la riga sotto on hover */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: white;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 20px;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}

header .menu-sx{
  align-items: center;
  width: 50%;
}

header .menu-sx .image{
  height: 40%;
  margin: 0 20px;
}

header .menu-sx .image img{
  height: 100%;
}

header .menu-dx{
  justify-content: end;
  align-items: center;
  width: 50%;
}

header .menu-dx button{
  margin: 0 20px;
}


/* JUMBO */
.jumbotron{
  /* dare un margin top alto quanto l'altezza dell'header */
  margin-top: 70px;
  width: 100%;
  height: 700px;
  background-color: #b4d0e7;
  margin-bottom: 50px;
}

.jumbotron .container-big{
  width: 80%;
  margin: 0 auto;
}

.jumbotron .container-big h1{
  margin-bottom: 50px;
}

.jumbotron .container-big .text{
  width: 32%;
  padding-right: 20px;
}

.jumbotron .container-big .text p{
  line-height: 1.3rem;
  margin-bottom: 20px;
}

.jumbotron .container-big .text button{
  padding: 10px 20px;
  font-size: 1.1rem;
}

.jumbotron .container-big .text div{
  font-size: 0.8rem;
  margin: 1rem 0;
}

.jumbotron .container-big .text i{
  font-size: 2.5rem;
  margin-top: 20px;
  color: black;
}

.jumbotron .container-big .image{
  width: 400px;
  height: 300px;
}

.jumbotron .container-big .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* MAIN */


/* per evitare che le ancore finiscano ditro il menu fixed */

/* #subscription::before{
  content: '';
  display: block;
  height: 70px;
  margin: -70px 0 0 ;
} */


main{
  background-color: blueviolet;
}

main .container{
  width: 70%;
  margin: 0 auto;
  background-color: rgb(0, 26, 255);
}

main #subscription{
  height: 800px;
  background-color: rgb(25, 182, 19);
}

main #subscription .row{
  justify-content: space-between;
}

main #subscription .row .column{
  width: 30%;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}











main section.subscription-bottom{
  height: 200px;
  background-color: rgb(1, 82, 1);
}

main section.partner{
  height: 600px;
  background-color: rgb(209, 209, 2);
}

main section.image{
  height: 1000px;
  background-color: brown;
}

main section.sponsor{
  height: 400px;
  background-color: darkgoldenrod;
}

main section.text{
  height: 300px;
  background-color: #b4d0e7;
}

main section.questions{
  height: 600px;
  background-color: coral;
}

/* FOOTER */

footer{
  height: 600px;
  background-color: black;
}